<div class="breadcrumbs">
    <a href="@Url.Action("Index", "Home")">НАЧАЛО</a> / <a href="#">ИЗТРИВАНЕ НА ПРОФИЛ</a>
</div>

<div class="row" style="padding-top: 25px;">
    <div class="col-lg-8 offset-lg-2">
        <div class="alert-information">
            <div class="text-center alert-information-icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" width="48" height="48" stroke-width="1.5"> <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path> <path d="M9 12l2 2l4 -4"></path> </svg>
            </div>

            <h3 class="text-center">Предстоящо изтриване на профил</h3>
            <h5 class="text-center mb-3"><p>Ако желаете да изтриете профила си, моля, натиснете бутона долу.</p></h5>
            <div class="text-center">
                <a class="btn btn-primary" rel="nofollow" data-method="delete" href="/profile">
                    <span class="btn-text">ИЗТРИВАНЕ</span>
                </a>
            </div>
        </div>
    </div>
</div>