@model IEnumerable<SignalPlus.Models.Signal>
@{
    ViewBag.IsAdminView = true;
    ViewBag.Section = "InProgress";
}

<h1>Сигнали в обработка</h1>
@Html.Partial("~/Areas/Admin/Views/Shared/_SignalCardList.cshtml", Model)
