@model IEnumerable<SignalPlus.Models.Signal>
@{
    ViewBag.IsAdminView = true;
    ViewBag.Section = "Rejected";
}

<h1>Отхвърлени Сигнали</h1>
@Html.Partial("~/Areas/Admin/Views/Shared/_SignalCardList.cshtml", Model)
